img {
    padding: 8px;
    border: 8px solid #00040a;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body {
    background-color: rgba(14, 13, 13, 0.815);
}

h1 {
    text-align: center;
    font-size: 80px;
    color: rgb(250, 244, 233);
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-align: center;
    color: rgb(250, 244, 233);
}
h3 {
    text-align: center;
    color: rgb(250, 244, 233);

}
#Panda {
    text-align: center;
    color: rgb(250, 244, 233);
}